{% extends 'layout/app.html' %}

{% load static %}

{% block body %}
    <div id="content-wrapper">

        <div class="container-fluid">
            <!-- Breadcrumbs-->
            
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-key"></i>
                    Cambia Password
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="POST">
                        {% csrf_token %}

                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-label-group">
                                        {{form.old_password}}
                                        <label for="id_old_password">Password corrente</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-label-group">
                                        {{form.new_password1}}
                                        <label for="id_new_password1">Nuova Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="form-label-group">
                                        {{form.new_password2}}
                                        <label for="id_new_password2">Conferma Password</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-warning btn-block" type="submit">Aggiorna &nbsp;&nbsp;&nbsp;<span></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}

{% endblock %}