{% extends 'layout/login.html' %}

{% load static %}
{% block title %}{% endblock %}

{% block body %}
<div class="container">
    <img style="width: 180px;justify-content: center;align-items: center;display: flex;" src="{% static 'img/logo.png' %}" class="mx-auto mt-5" alt="">
    <div class="card card-login mx-auto mt-2">
        <div class="card-header">Disconnesso</div>
        <div class="card-body">

            <div class="text-center"> 
                <p>Ti sei disconnesso con successo.</p>
                <a href="{% url 'login' %}" class='btn btn-dark btn-block'>Accedi nuovamente.</a>
                <span style="justify-content: center;align-items: center;display: flex;" class="mt-2">Copyright &copy; Postal trade srl</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
